name: Pipeline Divina - Lord Eclipse

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  analise_e_teste:
    runs-on: ubuntu-latest
    steps:
      # 1. Conectar ao Git/GitHub (Lê seus códigos)
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. SonarQube (Analisa qualidade e segurança)
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        with:
          projectBaseDir: nexus-universe/core-rust
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      # 2.1 Testes Unitários e de Integração (Rust Core)
      - name: Run Rust Tests
        working-directory: ./nexus-universe/core-rust
        run: |
          cargo test

      # 3. Docker (Cria a imagem do seu jogo/sistema - Server TS)
      - name: Build Docker Image
        run: |
          docker build -t lord-eclipse-app:${{ github.sha }} nexus-universe/server-ts/
          docker tag lord-eclipse-app:${{ github.sha }} tumbadenazarick/projeto-aurora:latest

  deploy_infra:
    needs: analise_e_teste
    runs-on: ubuntu-latest
    steps:
      # 4. HashiCorp Terraform (Prepara os servidores automaticamente)
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Apply
        working-directory: ./nexus-universe/core-rust/terraform
        run: |
          terraform init
          terraform apply -auto-approve
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}

      # 5. Ansible (Configura os detalhes internos dos servidores)
      - name: Run Ansible Playbook
        working-directory: ./nexus-universe/core-rust
        run: ansible-playbook -i inventory.ini setup_config.yml

  orquestracao_k8s:
    needs: deploy_infra
    runs-on: ubuntu-latest
    steps:
      # 6. Kubernetes (Coloca o sistema no ar)
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Kubernetes Deploy
        working-directory: ./nexus-universe/server-ts
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl rollout status deployment/projeto-aurora
